@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@import "./theme/index.css";

@import "./base/index.css";

@import "./layout/index.css";

/* #region Icons */
@layer components {
	.icon {
		font-family: "Material Symbols Rounded";
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: "liga";
		font-feature-settings: "liga";
		-webkit-font-smoothing: antialiased;
		font-variation-settings:
			"FILL" 1,
			"wght" 400,
			"GRAD" 0,
			"opsz" 24;
	}
}

/* #endregion Icons */

@layer components {
	a[aria-current="page"] {
		@apply font-bold bg-gradient-to-br from-[#ff0066] from-0% to-[#bd34fe] to-75% bg-clip-text text-transparent;
	}
}

/* #region Category Button */
@layer components {
	.category-button {
		@apply w-full p-2 my-2 cursor-pointer capitalize rounded-lg shadow-md bg-zinc-300 dark:bg-zinc-700 hover:shadow-lg hover:scale-105 active:shadow-xl active:scale-110 transition-all ease-in-out duration-150;
	}

	.category-button.active {
		@apply bg-sky-500;
	}
}

/* #endregion Category Button */