@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
	--font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* #region Layout */
@layer base {
	:root {
		@apply bg-zinc-100 text-zinc-950 dark:bg-zinc-900 dark:text-zinc-50;
		@apply font-sans antialiased;
	}

	html {
		@apply h-full;
	}

	body {
		@apply h-screen;
		@apply grid grid-cols-[auto_1fr] grid-rows-[auto_1fr];
		grid-template-areas: "header header" "aside main";
	}

	#root {
		@apply contents;

		&>header[role="banner"] {
			@apply h-16 px-4 py-2;
			@apply flex items-center;
			@apply bg-zinc-200 dark:bg-zinc-800;
			grid-area: header;

			&>nav {
				@apply w-full;
				@apply flex items-center justify-between;

				&>section {
					@apply flex items-center gap-4;
				}
			}
		}

		&>aside {
			grid-area: aside;
		}

		&>main {
			@apply overflow-auto;
			grid-area: main;
		}
	}
}

/* #endregion Layout */

/* #region Icons */
@layer components {
	.icon {
		font-family: "Material Symbols Rounded";
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: "liga";
		font-feature-settings: "liga";
		-webkit-font-smoothing: antialiased;
		font-variation-settings:
			"FILL" 1,
			"wght" 400,
			"GRAD" 0,
			"opsz" 24;
	}
}

/* #endregion Icons */

/* #region Branding */
@layer components {
	.brand {
		@apply p-2 flex items-center gap-1;
		@apply font-black text-xl;
		@apply bg-gradient-to-br from-[#ff0066] from-0% to-[#bd34fe] to-50% bg-clip-text text-transparent;
	}
}

/* #endregion Branding */

/* #region Navigation */
@layer components {
	.nav-icon-button {
		@apply p-2;
		@apply flex items-center justify-center gap-1;
		@apply rounded-full;
		@apply text-zinc-500;
		@apply hover:text-zinc-800 hover:dark:text-zinc-200;
		@apply hover:bg-zinc-300 hover:dark:bg-zinc-700;
		@apply hover:shadow-sm hover:drop-shadow-sm;
		@apply active:shadow-xs active:drop-shadow-xs;
		@apply transition-all duration-100 ease-in-out;
	}

	.nav-icon-button.active {
		@apply text-zinc-300;
		@apply shadow-sm drop-shadow-sm;
		@apply bg-gradient-to-br from-[#ff0066] from-0% to-[#bd34fe] to-50%;
		@apply hover:text-zinc-50;
		@apply hover:shadow-md hover:drop-shadow-md;
		@apply active:text-zinc-50;
		@apply active:shadow-xs active:drop-shadow-xs;
	}
}

/* #endregion Navigation */

/* #region Category Button */
@layer components {
	.category-button {
		@apply w-full p-2 my-2 cursor-pointer capitalize rounded-lg shadow-md bg-zinc-300 dark:bg-zinc-700 hover:shadow-lg hover:scale-105 active:shadow-xl active:scale-110 transition-all ease-in-out duration-150;
	}

	.category-button.active {
		@apply bg-sky-500;
	}
}

/* #endregion Category Button */